# iOS
ios/Pods/
ios/build/
ios/*.xcworkspace/xcuserdata/
*.ipa

# Android
android/.gradle/
android/app/build/
android/build/
*.apk
*.aab

# JS bundle
*.jsbundle
*.bundle

# Metro
.metro-health-check*

# Environment
.env
.env.*
!.env.example
